.best-tourist-place {
  margin-bottom: 70px;
  &__pre-title {
    font: 400 24px / 1.08 $segoe-script-font-family;
    color: $color-light-red;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 150px;
    text-align: center;
  }
  &__title {
    font: 700 28px / 0.93 $montserrat-font-family;
    color: $base-font-color;
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
  }
  &__container {
    width: $container-width;
    margin: 0 auto;
    background-image: url(../../img/bg-earth.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__description {
    margin: 0 auto;
    max-width: 770px;
    font: 400 #{$base-font-size} / 1.75 $poppins-font-family;
    text-align: center;
    color: $color-gray;
    margin-bottom: 78px;
  }
  &__items {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
