.branding-partner {
  position: relative;
  background-color: rgba($color-black-origin, 0.8);
  color: $color-white;
  text-align: center;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    background-image: url($base-path-img + 'bg-branding-partner.jpg');
  }
  &__container {
    padding-bottom: 200px;
  }
  &__pre-title {
    font: 400 24px / 1.08 $segoe-script-font-family;
    color: $color-light-red;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 150px;
    text-align: center;
  }
  &__title {
    font: 600 28px / 0.93 $montserrat-font-family;
    color: $color-white;
    margin: 0;
    margin-bottom: 90px;
    text-align: center;
  }
  &__img-container {
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    margin-left: 80px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}
