.btn {
  background-color: $base-btn-color;
  color: $color-white;
  font: 600 14px / 0.54 $montserrat-font-family;
  border-radius: 5px;
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
  &--discover {
    text-transform: none;
    font-size: 400 #{$base-font-size - 2px} / 1.85 $montserrat-font-family;
    width: 100px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  &--custome-packege {
    box-sizing: border-box;
    border: 0;
    height: 70px;
    width: 148px;
    border-radius: 0;
  }
  &--submit-form {
    border-radius: 0;
    border: 0;
    width: 140px;
    height: 45px;
    box-shadow: 1px 1px 1px rgba(33, 30, 31, 0.2);
    background-color: #ef5b5b;
  }
  &--book-now {
    padding: 20px 30px;
    width: 112px;
    display: block;
    text-align: center;
  }
}
