.btn {
  background-color: $base-btn-color;
  color: $color-white;
  font: 600 14px / 0.54 $montserrat-font-family;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
  &--discover {
    text-transform: none;
    font-size: 400 #{$base-font-size - 2px} / 1.85 $montserrat-font-family;
    width: 100px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
