.feature-trip-card {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 30px;

  &__title {
    margin: 20px 0;
    font: 700 20px / 1.3 $montserrat-font-family;
    color: $base-font-color;
    text-align: center;
  }
  &__action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 5px;
    font: 600 14px / 1.86 $montserrat-font-family;
    color: $base-font-color;
  }
  &__rating-title {
    padding-right: 5px;
    font: 600 14px / 1.86 $montserrat-font-family;
    color: $base-font-color;
  }
  &__review {
    padding-right: 5px;
    font: 600 14px / 1.86 $montserrat-font-family;
    color: $base-font-color;
  }
}
