.feedback-message {
  &__container {
    width: $container-width;
    margin: 0 auto;
  }
  &__pre-title {
    font: 400 24px / 1.08 $segoe-script-font-family;
    color: $color-light-red;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 150px;
    text-align: center;
  }
  &__title {
    font: 700 28px / 0.93 $montserrat-font-family;
    color: $base-font-color;
    margin: 0;
    margin-bottom: 100px;
    text-align: center;
  }
}
