.main-footer {
  background-color: $color-gray-1;
  &__container {
    width: $container-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__column {
    padding-top: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &:first-of-type {
      margin-right: 90px;
    }
  }
  &__description {
    /* Style for "Pleasure a" */
    max-width: 462px;
    color: $color-gray;
    font: 400 #{$base-font-size} / 1.75 $poppins-font-family;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
  }
  &__contacts {
    max-width: 355px;
    min-height: 75px;
    color: #222222;
    font: 400 #{$base-font-size} /  0.93 $poppins-font-family;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    line-height: 1.83;
    & > a {
      width: 355px;
      height: 75px;
      color: #222222;
      font: 400 #{$base-font-size} /  0.93 $poppins-font-family;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      text-decoration: none;
    }
  }
  &__link {
    color: $color-light-red;
    font: inherit;
    text-decoration: none;
  }
  &__link-container {
    margin: 0;
  }
  &__icon {
    padding-right: 20px;
  }
  &__userful-links{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__userful-link-title {
    width: 105px;
    height: 16px;
    color: $color-black;
    font: 500 20px / 1.4 $poppins-font-family;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin: 0;
    margin-bottom: 39px;
  }
}
