.main-header {
  width: 100%;
  height: 980px;
  background: url($base-path-img + 'bg-header.jpg');
  background-size: cover;
  background-position: top left;
  border-top: 1px solid transparent;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: $container-width;
    margin: 0 auto;
    margin-top: 46px;
  }
}
