.top-tour-package-slider {
  position: relative;
  z-index: 1;
  &__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
  }
}
