.top-tour-package {
  position: relative;
  width: 100%;
  height: 1200px;
  background-color: #4d6882;
  background-image: url(../../img/bg-top-tour-package.jpg);
  background-repeat: no-repeat;
  padding-top: 145px;
  &::before {
    position: absolute;
    content: '';
    background-color: rgba($color-black, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  &__pre-title {
    position: relative;
    font: 400 24px / 1.08 $segoe-script-font-family;
    color: $color-light-red;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    z-index: 1;
  }
  &__title {
    position: relative;
    font: 700 28px / 0.93 $montserrat-font-family;
    color: $color-white;
    margin: 0;
    margin-bottom: 65px;
    text-align: center;
    z-index: 1;
  }
}
