<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Agency</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__container">
            <a href="#" class="logo">
                <img class="logo__img" src="./img/icon-logo.png" width="51" height="37" alt="Mocco group travel agency">
                <p class="logo__container">
                    <span class="logo__title1">Mocco Group</span>
                    <span class="logo__title2">Travell Agency</span>
                </p>
            </a>
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a class="menu-list__link" href="blank.html">Home</a>
                </li>
                <li class="menu-list__item">
                    <a class="menu-list__link" href="blank.html">About</a>
                </li>
                <li class="menu-list__item">
                    <a class="menu-list__link" href="blank.html">Tour</a>
                </li>
                <li class="menu-list__item">
                    <a class="menu-list__link" href="blank.html">Hotels</a>
                </li>
                <li class="menu-list__item">
                    <a class="menu-list__link" href="blank.html">Blog</a>
                </li>
                <li class="menu-list__item">
                    <a class="menu-list__link" href="blank.html">Contact</a>
                </li>
                <li class="menu-list__item">
                    <a class="btn" href="#">Book Now</a>
                </li>
            </ul>
        </nav>
        <div class="main-header__container banner">
            <div class="banner__container">
                <p class="banner__pre-title">World Best Travell Agency</p>
                <p class="banner__title">Save Upto 40% For Upcoming Summer</p>
                <p class="banner__description">Starts From $250 Only   ( 2 Days, 3 Nights)</p>
                <a class="btn" href="#">Explore Now</a>
            </div>
        </div>
    </header>
    <main>
        <section class="feature-trip">
            <div class="feature-trip__container">
                <div class="feature-trip__title-container">
                    <h2 class="feature-trip__pre-title">Our agency</h2>
                    <h3 class="feature-trip__title">Feature trip</h3>
                    <p class="feature-trip__description">
                        Accusamus et iusto odio bolo
                        dignissimos ducimus qui lawer blandits praesentium Accus amus et iusto odio bolo atque
                        volup tatum delenite.
                    </p>
                    <a class="btn" href="blank.html">Book now</a>
                </div>
                <ul class="feature-trip__cards">
                    <li class="feature-trip-card">
                        <img src="../img/img-london-england.jpg" width="370" height="400" alt="London, England" class="feature-trip-card__img">
                        <h4 class="feature-trip-card__title">London, England</h4>
                        <div class="feature-trip-card__container">
                        </div>
                        <div class="feature-trip-card__action">
                            <div class="feature-trip-card__rating">
                                <p class="feature-trip-card__rating-title">Rating : </p>
                                <img src="../img/img-four-plus-stars.png" alt="four plus stars" width="80" height="13">
                            </div>
                            <a class="btn btn--discover" href="blank.html" class="feature-trip-card__discover">Discover</a>
                        </div>
                    </li>
                    <li class="feature-trip-card">
                        <img src="../img/img-dubai-uae.jpg"  width="370" height="400"  alt="Dubai, UAE" class="feature-trip-card__img">
                        <h4 class="feature-trip-card__title">Dubai, UAE</h4>
                        <div class="feature-trip-card__container">
                        </div>
                        <div class="feature-trip-card__action">
                            <div class="feature-trip-card__rating">
                                <p class="feature-trip-card__rating-title">Rating : </p>
                                <img src="../img/img-five-stars.png" alt="five stars" width="80" height="13">
                            </div>
                            <a class="btn btn--discover" href="blank.html" class="feature-trip-card__discover">Discover</a>
                        </div>
                    </li>
                    <li class="feature-trip-card">
                        <img src="../img/img-bern-switzerland.jpg"  width="370" height="400" alt="Bern, Switzerland" class="feature-trip-card__img">
                        <h4 class="feature-trip-card__title">Bern, Switzerland</h4>
                        <div class="feature-trip-card__container">
                        </div>
                        <div class="feature-trip-card__action">
                            <div class="feature-trip-card__rating">
                                <p class="feature-trip-card__rating-title">Rating : </p>
                                <img src="../img/img-four-plus-stars.png" alt="four plus stars" width="80" height="13">
                            </div>
                            <a class="btn btn--discover" href="blank.html" class="feature-trip-card__discover">Discover</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="convenience">
            <p class="convenience__pre-title">Provide Packege</p>
            <h2 class="convenience__title">Convenience</h2>
            <div class="convenience-slider">
                <button class="convenience-slider__prev">
                    <img src="../img/icon-left.png" width="15" height="16" alt="Go to the left">
                </button>
                <ul class="convenience-list">
                    <li class="convenience-list__item">
                        <img class="convenience-list__img" src="../img/icon-hotel-facilities.png" width="60" height="60" alt="Air facilities">
                        <h3 class="convenience-list__title">Hotel Facilities</h3>
                        <p class="convenience-list__description">you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible,</p>
                    </li>
                    <li class="convenience-list__item">
                        <img class="convenience-list__img" src="../img/icon-tourist-guide.png" width="60" height="60" alt="Tourist Guide">
                        <h3 class="convenience-list__title">Tourist Guide</h3>
                        <p class="convenience-list__description">you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible,</p>
                    </li>
                    <li class="convenience-list__item">
                        <img class="convenience-list__img" src="../img/icon-air-ticket.png" width="60" height="60" alt="Air Ticket">
                        <h3 class="convenience-list__title">Air Ticket</h3>
                        <p class="convenience-list__description">you are going to use a passage of Lorem Ipsum, you need to be there isn't anything embarrassing hidden in the middle of text avaible,</p>
                    </li>
                </ul>
                <button class="convenience-slider__next">
                    <img src="../img/icon-right.png" width="15" height="16" alt="Go to the right">
                </button>
            </div>
        </section>
        <section class="choose-us">
            <div class="choose-us__container">
                <p class="choose-us__pre-title">We Take Best Care</p>
                <h2 class="choose-us__title">Why Choose Us?</h2>
                <ul class="choose-us-cards">
                    <li class="choose-us-cards__item">
                        <h3 class="choose-us-cards__title">Unlimited Room Available.</h3>
                        <p class="choose-us-cards__description">Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .</p>
                    </li>
                    <li class="choose-us-cards__item">
                        <h3 class="choose-us-cards__title">Air / Bus Ticket Provide By Us.</h3>
                        <p class="choose-us-cards__description">Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .</p>
                    </li>
                    <li class="choose-us-cards__item">
                        <h3 class="choose-us-cards__title">Custome Packege Available..</h3>
                        <p class="choose-us-cards__description">Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .</p>
                    </li>
                    <li class="choose-us-cards__item">
                        <h3 class="choose-us-cards__title">100% Safe and Luxury Journey.</h3>
                        <p class="choose-us-cards__description">Accusamus et iusto odio bolo dignissimos  ducimus qui lawer blandits praesentium Accus amus et iusto odio bol Accus amus et iusto odio bol .</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="top-tour-package">
            <p class="top-tour-package__pre-title">Our Agency Provide</p>
            <h2 class="top-tour-package__title">Top Tour Packege</h2>
            <div class="top-tour-package-slider">
                <div class="top-tour-package-slider__prev"></div>
                <ul class="top-tour-package-slider__items">
                    <li class="top-tour-package-slider__item top-tour-package-card">
                        <p class="top-tour-package-card__transport">by air</p>
                        <img class="top-tour-package-card__img" src="#" alt="Our Agency Provide">
                        <div class="top-tour-package-card__container">
                            <div  class="top-tour-package-card__column">
                                <h3 class="top-tour-package-card__title">Katmundu, Nepal</h3>
                                <p class="top-tour-package-card__description">Accusamus et iustoAccusamus et iusto odio bolo odio bolo
                                    digti odio ball atque.
                                    volup tatum delenite.
                                </p>
                            </div>
                            <div class="top-tour-package-card__column">
                                <div class="top-tour-package-card__prices">
                                    <p class="top-tour-package-card__price-old">$454</p>
                                    <p class="top-tour-package-card__price">$350</p>
                                </div>
                                <div class="top-tour-package-card__duration">
                                    <p class="top-tour-package-card__duration-day">2 Day</p>
                                    <p class="top-tour-package-card__duration-night">3 Night</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-trip-card__rating">
                            <p>Rating</p>
                            <img src="#" alt="rating">
                            <span class="feature-trip-card__review">5+</span> Review
                            <a href="blank.html" class="feature-trip-card__discover">Book now</a>
                        </div>
                    </li>
                    <li class="top-tour-package-slider__item top-tour-package-card">
                        <p class="top-tour-package-card__transport">by air</p>
                        <img class="top-tour-package-card__img" src="#" alt="Our Agency Provide">
                        <div class="top-tour-package-card__container">
                            <div  class="top-tour-package-card__column">
                                <h3 class="top-tour-package-card__title">Dubai, UAE</h3>
                                <p class="top-tour-package-card__description">Accusamus et iustoAccusamus et iusto odio bolo odio bolo
                                    digti odio ball atque.
                                    volup tatum delenite.
                                </p>
                            </div>
                            <div class="top-tour-package-card__column">
                                <div class="top-tour-package-card__prices">
                                    <p class="top-tour-package-card__price-old">$800</p>
                                    <p class="top-tour-package-card__price">$500</p>
                                </div>
                                <div class="top-tour-package-card__duration">
                                    <p class="top-tour-package-card__duration-day">3 Day</p>
                                    <p class="top-tour-package-card__duration-night">4 Night</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-trip-card__rating">
                            <p>Rating</p>
                            <img src="#" alt="rating">
                            <span class="feature-trip-card__review">15+</span> Review
                            <a href="blank.html" class="feature-trip-card__discover">Book now</a>
                        </div>
                    </li>
                    <li class="top-tour-package-slider__item top-tour-package-card">
                        <p class="top-tour-package-card__transport">by air</p>
                        <img class="top-tour-package-card__img" src="#" alt="Our Agency Provide">
                        <div class="top-tour-package-card__container">
                            <div  class="top-tour-package-card__column">
                                <h3 class="top-tour-package-card__title">Katmundu, Nepal</h3>
                                <p class="top-tour-package-card__description">Accusamus et iustoAccusamus et iusto odio bolo odio bolo
                                    digti odio ball atque.
                                    volup tatum delenite.
                                </p>
                            </div>
                            <div class="top-tour-package-card__column">
                                <div class="top-tour-package-card__prices">
                                    <p class="top-tour-package-card__price-old">$454</p>
                                    <p class="top-tour-package-card__price">$350</p>
                                </div>
                                <div class="top-tour-package-card__duration">
                                    <p class="top-tour-package-card__duration-day">2 Day</p>
                                    <p class="top-tour-package-card__duration-night">3 Night</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-trip-card__rating">
                            <p>Rating</p>
                            <img src="#" alt="rating">
                            <span class="feature-trip-card__review">5+</span> Review
                            <a href="blank.html" class="feature-trip-card__discover">Book now</a>
                        </div>
                    </li>
                    <li class="top-tour-package-slider__item top-tour-package-card">
                        <p class="top-tour-package-card__transport">by air</p>
                        <img class="top-tour-package-card__img" src="#" alt="Our Agency Provide">
                        <div class="top-tour-package-card__container">
                            <div  class="top-tour-package-card__column">
                                <h3 class="top-tour-package-card__title">Burn, Slovenia</h3>
                                <p class="top-tour-package-card__description">Accusamus et iustoAccusamus et iusto odio bolo odio bolo
                                    digti odio ball atque.
                                    volup tatum delenite.
                                </p>
                            </div>
                            <div class="top-tour-package-card__column">
                                <div class="top-tour-package-card__prices">
                                    <p class="top-tour-package-card__price-old">$499</p>
                                    <p class="top-tour-package-card__price">$400</p>
                                </div>
                                <div class="top-tour-package-card__duration">
                                    <p class="top-tour-package-card__duration-day">2 Day</p>
                                    <p class="top-tour-package-card__duration-night">3 Night</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-trip-card__rating">
                            <p>Rating</p>
                            <img src="#" alt="rating">
                            <span class="feature-trip-card__review">10+</span> Review
                            <a href="blank.html" class="feature-trip-card__discover">Book now</a>
                        </div>
                    </li>
                    <li class="top-tour-package-slider__item top-tour-package-card">
                        <p class="top-tour-package-card__transport">by air</p>
                        <img class="top-tour-package-card__img" src="#" alt="Our Agency Provide">
                        <div class="top-tour-package-card__container">
                            <div  class="top-tour-package-card__column">
                                <h3 class="top-tour-package-card__title">Katmundu, Nepal</h3>
                                <p class="top-tour-package-card__description">Accusamus et iustoAccusamus et iusto odio bolo odio bolo
                                    digti odio ball atque.
                                    volup tatum delenite.
                                </p>
                            </div>
                            <div class="top-tour-package-card__column">
                                <div class="top-tour-package-card__prices">
                                    <p class="top-tour-package-card__price-old">$454</p>
                                    <p class="top-tour-package-card__price">$350</p>
                                </div>
                                <div class="top-tour-package-card__duration">
                                    <p class="top-tour-package-card__duration-day">2 Day</p>
                                    <p class="top-tour-package-card__duration-night">3 Night</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-trip-card__rating">
                            <p>Rating</p>
                            <img src="#" alt="rating">
                            <span class="feature-trip-card__review">5+</span> Review
                            <a href="blank.html" class="feature-trip-card__discover">Book now</a>
                        </div>
                    </li>
                </ul>
                <div class="top-tour-package-slider__next"></div>
            </div>
        </section>
        <section class="custome-packege">
            <h2>Custome Packege</h2>
            <div  class="custome-packege-tool">
                <ul class="custome-packege-tool__container">
                   <li class="custome-packege-tool__item">Location</li>
                    <li class="custome-packege-tool__item">Check In</li>
                    <li class="custome-packege-tool__item">Check Out</li>
                    <li class="custome-packege-tool__item">People</li>
                    <li class="custome-packege-tool__item">
                        <a class="custome-packege-too__btn" href="#">Book now</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="best-tourist-place">
            <p class="best-tourist-place__pre-title">Our Agency Provide Worldwide</p>
            <h2 class="best-tourist-place__title">Best Tourist Place</h2>
            <p class="best-tourist-place__description">Pleasure and praising pain was born and I will give you a complete account of the system, human happiness no oncauwho do not know that.</p>
            <ul class="best-tourist-place__items">
                <li class="best-tourist-place__item best-tourist-place-item">
                    <h3 class="best-tourist-place-item__title">
                        Europe (12 Countries)
                    </h3>
                    <div class="best-tourist-place__container">
                        <img src="#" alt="Europe (12 Countries)">
                        <ul class="best-tourist-place-item__countries">
                            <li class="best-tourist-place-item__country">Belgium.</li>
                            <li class="best-tourist-place-item__country">Germany.</li>
                            <li class="best-tourist-place-item__country">Spain.</li>
                            <li class="best-tourist-place-item__country">Ireland.</li>
                            <li class="best-tourist-place-item__country">France.</li>
                            <li class="best-tourist-place-item__country">Island.</li>
                            <li class="best-tourist-place-item__country">Switzerland.</li>
                            <li class="best-tourist-place-item__country">Denmark.</li>
                            <li class="best-tourist-place-item__country">Croatia.</li>
                            <li class="best-tourist-place-item__country">Italy.</li>
                            <li class="best-tourist-place-item__country">Netherlands.</li>
                            <li class="best-tourist-place-item__country">Latvia.</li>
                        </ul>
                    </div>
                </li>
                <li class="best-tourist-place__item best-tourist-place-item">
                    <h3 class="best-tourist-place-item__title">
                        Asia (10 Countries)
                    </h3>
                    <div class="best-tourist-place__container">
                        <img src="#" alt="Asia (10 Countries)">
                        <ul class="best-tourist-place-item__countries">
                            <li class="best-tourist-place-item__country">Bangladesh.</li>
                            <li class="best-tourist-place-item__country">India.</li>
                            <li class="best-tourist-place-item__country">Singapore.</li>
                            <li class="best-tourist-place-item__country">Nepal.</li>
                            <li class="best-tourist-place-item__country">Malaysia.</li>
                            <li class="best-tourist-place-item__country">Pakistan.</li>
                            <li class="best-tourist-place-item__country">Philippines.</li>
                            <li class="best-tourist-place-item__country">Myanmar.</li>
                            <li class="best-tourist-place-item__country">Indonesia.</li>
                            <li class="best-tourist-place-item__country">Timor-Leste.</li>
                            <li class="best-tourist-place-item__country">United Arab Emirates.</li>
                        </ul>
                    </div>
                </li>
                <li class="best-tourist-place__item best-tourist-place-item">
                    <h3 class="best-tourist-place-item__title">
                        Australia (9 Countries)
                    </h3>
                    <div class="best-tourist-place__container">
                        <img src="#" alt="Australia (9 Countries)">
                        <ul class="best-tourist-place-item__countries">
                            <li class="best-tourist-place-item__country">Australia.</li>
                            <li class="best-tourist-place-item__country">Cook Islands.</li>
                            <li class="best-tourist-place-item__country">Fiji.</li>
                            <li class="best-tourist-place-item__country">American Samoa.</li>
                            <li class="best-tourist-place-item__country">Howland Island.</li>
                            <li class="best-tourist-place-item__country">Nauru.</li>
                            <li class="best-tourist-place-item__country">Norfolk Island.</li>
                            <li class="best-tourist-place-item__country">Croatia.</li>
                            <li class="best-tourist-place-item__country">Northern Mariana Islands.</li>
                        </ul>
                    </div>
                </li>
                <li class="best-tourist-place__item best-tourist-place-item">
                    <h3 class="best-tourist-place-item__title">
                        Africa (12 Countries)
                    </h3>
                    <div class="best-tourist-place__container">
                        <img src="#" alt="Africa (12 Countries)">
                        <ul class="best-tourist-place-item__countries">
                            <li class="best-tourist-place-item__country">Tunisia.</li>
                            <li class="best-tourist-place-item__country">Ghana.</li>
                            <li class="best-tourist-place-item__country">Uganda.</li>
                            <li class="best-tourist-place-item__country">Ivory Coast.</li>
                            <li class="best-tourist-place-item__country">Botswana.</li>
                            <li class="best-tourist-place-item__country">Chad.</li>
                            <li class="best-tourist-place-item__country">Mauritius.</li>
                            <li class="best-tourist-place-item__country">Mauritania.</li>
                            <li class="best-tourist-place-item__country">Swaziland.</li>
                            <li class="best-tourist-place-item__country">Gambia.</li>
                            <li class="best-tourist-place-item__country">Djibouti.</li>
                            <li class="best-tourist-place-item__country">Nigeria.</li>
                        </ul>
                    </div>
                </li>
                <li class="best-tourist-place__item best-tourist-place-item">
                    <h3 class="best-tourist-place-item__title">
                        N. America (10 Countries)
                    </h3>
                    <div class="best-tourist-place__container">
                        <img src="#" alt="N. America (10 Countries)">
                        <ul class="best-tourist-place-item__countries">
                            <li class="best-tourist-place-item__country">United States.</li>
                            <li class="best-tourist-place-item__country">Canada.</li>
                            <li class="best-tourist-place-item__country">Mexico.</li>
                            <li class="best-tourist-place-item__country">Cuba.</li>
                            <li class="best-tourist-place-item__country">Guatemala.</li>
                            <li class="best-tourist-place-item__country">Panama.</li>
                            <li class="best-tourist-place-item__country">Nicaragua.</li>
                            <li class="best-tourist-place-item__country">The Bahamas.</li>
                            <li class="best-tourist-place-item__country">Belize.</li>
                            <li class="best-tourist-place-item__country">Antigua and Barbuda.</li>
                        </ul>
                    </div>
                </li>
                <li class="best-tourist-place__item best-tourist-place-item">
                    <h3 class="best-tourist-place-item__title">
                        S. America (11 Countries)
                    </h3>
                    <div class="best-tourist-place__container">
                        <img src="#" alt="S. America (11 Countries)">
                        <ul class="best-tourist-place-item__countries">
                            <li class="best-tourist-place-item__country">Argentina.</li>
                            <li class="best-tourist-place-item__country">Chile.</li>
                            <li class="best-tourist-place-item__country">Bolivia.</li>
                            <li class="best-tourist-place-item__country">Brazil.</li>
                            <li class="best-tourist-place-item__country">Colombia.</li>
                            <li class="best-tourist-place-item__country">Costa Rica.</li>
                            <li class="best-tourist-place-item__country">Guatemala.</li>
                            <li class="best-tourist-place-item__country">Peru.</li>
                            <li class="best-tourist-place-item__country">Venezuela.</li>
                            <li class="best-tourist-place-item__country">Paraguay.</li>
                            <li class="best-tourist-place-item__country">Uruguay.</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </section>
        <section class="profit">
            <div class="profit__items">
                <li class="profit__item">
                    <p>2580+</p>
                    <p>Happy Client</p>
                </li>
                <li class="profit__item">
                    <p>1880+</p>
                    <p>Online member</p>
                </li>
                <li class="profit__item">
                    <p>2212+</p>
                    <p>Complete Tour.</p>
                </li>
                <li class="profit__item">
                    <p>250+</p>
                    <p>Award Wining</p>
                </li>
            </div>
        </section>
        <section class="video-tour">
            <div class="video-tour__intro">
                Video Tour
            </div>
            <div class="client-feedback">
                <p class="client-feedback__pre-title">Tour Memorial Histroy</p>
                <h2 class="client-feedback__title">
                    Client Feedback
                </h2>
                <div class="client-feedback__slider client-feedback-slider">
                    <div class="client-feedback-slider__prev"></div>
                    <div class="client-feedback-slider__container">
                        <div class="client-feedback-slider__avatars">
                            <img src="#" alt="" class="client-feedback-slider__avatar">
                            <img src="#" alt="" class="client-feedback-slider__avatar">
                            <img src="#" alt="" class="client-feedback-slider__avatar">
                        </div>
                    <div class="client-feedback-slider__description client-feedback-slider-description">
                        <p class="client-feedback-slider-description__content">
                            Pleasure and praising pain was born and I will give you a complete account of the system, human happiness Pleasure and praising pain was born and I will give you a complete account of the  no oncauwho do not know that.
                        </p>
                        <div class="client-feedback-slider-description__container">
                            <div class="lient-feedback-slider-description__column">
                                <p class="client-feedback-slider-description__author">Dee C. Mendez</p>
                                <p class="client-feedback-slider-description__post">
                                    Graphic Designer
                                </p>
                            </div>
                            <div class="lient-feedback-slider-description__column">
                                <p class="client-feedback-slider-description__rating">Personal Rating :</p>
                                <img src="#" alt="Personal Rating" class="client-feedback-slider-description__img">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="client-feedback-slider__next"></div>
                </div>
            </div>
        </section>
        <section class="latest-blog">
            <p class="latest-blog__pre-title">Our Agency</p>
            <h2 class="latest-blog__title">Latest Blog</h2>
            <ul class="latest-blog__container">
                <li class="latest-blog__item latest-blog-card">
                    <img src="#" alt="" class="latest-blog-card__img">
                    <div class="latest-blog-card__container">
                        <h3 class="latest-blog-card__title">Always free from repetition.</h3>
                        <p class="latest-blog-card__description">
                            Pleasure and praising pain was born will give you a complete account of the complete account of the .
                        </p>
                        <div class="latest-blog-card__calendar">
                            <p class="latest-blog-card__date">25 Dec 18</p>
                            <p class="latest-blog-card__time">4:15 PM</p>
                        </div>
                    </div>
                </li>
                <li class="latest-blog__item latest-blog-card">
                    <img src="#" alt="" class="latest-blog-card__img">
                    <div class="latest-blog-card__container">
                        <h3 class="latest-blog-card__title">Comes from a line in section.</h3>
                        <p class="latest-blog-card__description">
                            Pleasure and praising pain was born will give you a complete account of the complete account of the .
                        </p>
                        <div class="latest-blog-card__calendar">
                            <p class="latest-blog-card__date">22 Dec 18</p>
                            <p class="latest-blog-card__time">10:15 PM</p>
                        </div>
                    </div>
                </li>
                <li class="latest-blog__item latest-blog-card">
                    <img src="#" alt="" class="latest-blog-card__img">
                    <div class="latest-blog-card__container">
                        <h3 class="latest-blog-card__title">Fugiat quo voluptas all pariatur?</h3>
                        <p class="latest-blog-card__description">
                            Pleasure and praising pain was born will give you a complete account of the complete account of the .
                        </p>
                        <div class="latest-blog-card__calendar">
                            <p class="latest-blog-card__date">21 Dec 18</p>
                            <p class="latest-blog-card__time">12:00 PM</p>
                        </div>
                    </div>
                </li>
                <li class="latest-blog__item latest-blog-card">
                    <img src="#" alt="" class="latest-blog-card__img">
                    <div class="latest-blog-card__container">
                        <h3 class="latest-blog-card__title">Praesentium voluptatum deleniti.</h3>
                        <p class="latest-blog-card__description">
                            Pleasure and praising pain was born will give you a complete account of the complete account of the .
                        </p>
                        <div class="latest-blog-card__calendar">
                            <p class="latest-blog-card__date">20 Dec 18</p>
                            <p class="latest-blog-card__time">6:45 PM</p>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="latest-blog__btn-see-all">See all</a>
        </section>
        <section class="official-apps">
            <h2 class="official-apps__title">Download Our Offical Apps</h2>
            <p class="official-apps__description">
                Pleasure and praising pain was born and I will give you a complete account of the system, human happiness
                Pleasure and praising pain was born and I will give you an account know that.
            </p>
            <div class="official-apps__links">
                <a href="#" class="official-apps__android">
                    <p class="official-apps__container">
                        <p>Available in</p>
                        <p>Play Store</p>
                    </p>
                    <p class="official-apps__container">
                        <p>Available in</p>
                        <p>Apple ISO</p>
                    </p>
                </a>
                <a href="#" class="official-apps__ios"></a>
            </div>
        </section>
        <section class="branding-partner">
            <p class="branding-partner__pre-title">Our Agency</p>
            <p class="branding-partner__title">Branding Partner</p>
            <div class="blanding-partner__container">
                <img src="" alt="" class="blanding-partner__img">
                <img src="" alt="" class="blanding-partner__img">
                <img src="" alt="" class="blanding-partner__img">
                <img src="" alt="" class="blanding-partner__img">
                <img src="" alt="" class="blanding-partner__img">
            </div>
        </section>
        <section class="subscribe">
            <div class="subscribe__container">
                <h3 class="subscribe__title"></h3>
                <p class="subscribe__description"></p>
            </div>
            <input type="text" class="subscribe__input">
        </section>
        <section class="feedback-message">
            <p class="feedback-message__pre-title">We are ready to help you</p>
            <h2 class="feedback-message__title">Your Message</h2>
            <form action="post" class="feedback-message__form feedback-message-form">
                <ul class="feedback-message-form__items">
                    <li class="feedback-message-form__item">
                        <label for="fullname" class="feedback-message__label">Your Full Name</label>
                        <input id="fullname"  type="text" class="feedback-message__input">
                    </li>
                    <li class="feedback-message-form__item">
                        <label for="address" class="feedback-message__label">Address Here</label>
                        <input id="address" type="text" class="feedback-message__input">
                    </li>
                    <li class="feedback-message-form__item">
                        <label for="email" class="feedback-message__label">Email / Phone Number</label>
                        <input id="email" type="text" class="feedback-message__input">
                    </li>
                    <li class="feedback-message-form__item">
                        <label for="message" class="feedback-message__label">Your Message</label>
                        <input id="message" type="text" class="feedback-message__input">
                    </li>
                </ul>
                <button type="submit" class="feedback-message-form__btn">Submitted</button>
            </form>
        </section>
    </main>
    <footer class="main-footer">
        <div class="main-footer__container">
            <div class="main-footer__column">
                <div class="logo">
                    <img src="#" alt="Mocco group travel agency">
                    <p>
                        <span>Mocco Group</span>
                        <span>Travell Agency</span>
                    </p>
                </div>
                <p class="main-footer__description">
                    Pleasure and praising pain was born and I will give you a complete account of the system, human happiness
                    Pleasure and praising pain was born and I will give you an account know that.
                </p>
                <div class="main-footer__contacts">
                    <a href="tel:+9685 758 4157-60" class="main-footer__tel">+9685 758 4157-60</a>
                    <address class="main-footer__address">
                        4197 Sumner Street Los Angeles, CA 90017
                    </address>
                    <p class="main-footer__link-container">
                        Other Website:
                        <a href="#" class="main-footer__link">
                            www.moccnet.com
                        </a>
                    </p>

                </div>
            </div>
            <div class="main-footer__column">
                <div class="main-footer__userful-link main-footer-userful-link">
                    <h4 class="main-footer-userful-link__title">Useful Link</h4>
                    <ul class="main-footer-list">
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__link">Home</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__link">About</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__link">Tour</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__link">Hotels</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__link">Blog</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__link">Faq</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__link">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="main-footer__userful-link main-footer-userful-link">
                    <h4 class="main-footer-userful-link__title">Follow Us</h4>
                    <ul class="main-footer-list">
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__social-link">Facebook</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__social-link">Twitter</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__social-link">Instagram</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__social-link">LinkedIn</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__social-link">Google+</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__social-link">Youtube</a>
                        </li>
                        <li class="main-footer-list__item">
                            <a href="#" class="main-footer-list__social-link">Pinterest</a>
                        </li>
                    </ul>
                </div>
                <div class="main-footer__userful-link main-footer-userful-link">
                    <h4 class="main-footer-userful-link__title">Instagram</h4>
                    <img src="#" alt="" class="main-footer-userful-link__instagram-img">
                    <input type="text" class="main-footer-userful-link__search">
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="copyright__container">
                <p class="copyright__content">
                    Copyright © 2018 MOCCO Group Pty Limited
                </p>
            </div>
        </div>
    </footer>
<script src="../js/index.min.js"></script>
</body>
</html>
