$page-width: 1920px;
$container-width: 1170px;

$base-font-family: "Open Sans", "Arial", sans-serif;
$poppins-font-family: "Poppins", "Helvetica", sans-serif;
$myriad-font-family: "MyriadPro", "Helvetica", sans-serif;
$montserrat-font-family: 'Montserrat', 'Arial', sans-serif;
$segoe-script-font-family: 'SegoeScript', 'Arial', sans-serif;

$base-font-size: 16px;

$base-path-img: '../../img/';

$color-blue: #00b1ff;
$light-blue: #bbdbef;
$color-black-origin: #000000;
$color-black: #222222;
$color-black-2: #001327;
$color-light-red: #ef5b5b;
$color-white: #ffffff;
$color-gray: #808080;
$color-gray-1: #f0efef;
$color-light-gray: #f0efef;
$color-middle-gray: #cbcbcb;
$color-light-blue: #00b1ff;

$bg-header: $light-blue;
$base-font-color: $color-black;
$base-btn-color: $color-light-red;
$bg-part: $color-light-gray;
$bg-client-feedback-color: #43c6ff;

