$page-width: 1920px;
$container-width: 1170px;

$base-font-family: "Open Sans", "Arial", sans-serif;
$poppins-font-family: "Poppins", "Helvetica", sans-serif;
$myriad-font-family: "MyriadPro", "Helvetica", sans-serif;
$montserrat-font-family: 'Montserrat', 'Arial', sans-serif;
$segoe-script-font-family: 'SegoeScript', 'Arial', sans-serif;

$base-font-size: 16px;

$base-path-img: '../../img/';

$light-blue: #bbdbef;
$black: #222222;
$light-red: #ef5b5b;
$white: #ffffff;

$bg-header: $light-blue;
$base-font-color: $black;
$base-btn-color: $light-red;

