@import './normalize';
@import './variables';
@import './fonts';
@import './blocks/main-header';
@import './blocks/logo';
@import './blocks/menu-list';
@import './blocks/btn';
@import './blocks/banner';
@import './blocks/feature-trip';
@import './blocks/feature-trip-card';
@import './blocks/convenience';
@import './blocks/convenience-list';
@import './blocks/convenience-slider';
@import './blocks/choose-us';
@import './blocks/choose-us-cards';
@import './blocks/top-tour-package';
@import './blocks/top-tour-package-slider';
@import './blocks/top-tour-package-card';
@import './blocks/custom-packege';
@import './blocks/custome-packege-tool';
@import './blocks/best-tourist-place';

body {
  width: 100%;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}
